.container {
	background: pink;
	width: 100%;
	height: calc(100vh - 70px);
	display: grid;
	place-items: center;
	padding: 0 30px;
}

.weather {
	background: #fff;
	width: 700px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.form > input {
	width: 100%;
	-webkit-user-select: text;
	user-select: text;
	font-size: 16px;
	outline: none;
	-webkit-appearance: none;
	-webkit-border: none;
	border: none;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 100%;
	padding: 15px 15px 10px 15px;
	color: #304269;
	font-size: 20px;
	z-index: 1;
}

.form > input::placeholder {
	color: #304269;
	text-transform: capitalize;
}

.form > input:focus::placeholder {
	color: #fff;
}

.form > button {
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	padding: 15px 30px;
	background: purple;
	color: white;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	margin-top: 10px;
}

.result {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.result > span {
	width: 30%;
	padding-left: 20px;
	font-size: 18px;
	margin-bottom: 20px;
}

.footer {
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer > p {
	margin: 0;
	margin-right: 10px;
}

.img {
	width: 50px;
}